{% extends "disposicion.html" %}
{% block content %}
<h1>Líneas</h1>
<p>This part isn't functional yet. It is uncomplete. It is better to use the <a hfref="{{ url_for('paradas', lang='en') }}" style="color: #5e35b1">"stops"</a> section</p>
<table>
    <tr>
        <th>Line</th>
        <th>Origin</th>
        <th>Desination</th>
    </tr>
    {% for linea in lineas['lineas'] %}
        <tr>
            <td><a href="{{ url_for('linea', id_linea=linea.id, lang='en') }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{ linea.nombre }}</a></td>
            <td>{{ linea.origen }}</td>
            <td>{{ linea.destino }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}