{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/map.css"><link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
<!-- leafletjs -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

<h1><span id="id-parada">{{ parada.id }}</span> - {{ parada.nombre }} <span class="material-symbols-outlined recargar" id="boton-recarga" style="display: none">refresh</span><small style="font-size: 45%; padding-left: 1em;" id="t"></small><span id="alerta""></span></h1>
<div class="flex-parada">
    <div class="lineas-parada flex-dentro">
        <div class="linea-parada" id="lineas">
            {% for linea in buses %}
            <div class="linea">
                <h1 id="{{ linea.linea.id }}">Line <span class="simbolo_linea" style="background-color: #{{ linea.linea.color }}">{{ linea.linea.nombre }}</span></h1>
                {% for bus in linea.buses %}
                    {% if bus.distancia == '0' %}
                        <p>Bus {{ bus.bus }}, <b>in the stop</b>.</p>
                    {% else %}
                        <p>Bus {{ bus.bus }}, at {{ bus.distancia }}m, {{ bus.tiempo }}.</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="info-parada flex-dentro">
        <h2>Stop info</h2>
        <table>
            <tr>
                <th>Stop details</th>
            </tr>
            <tr>
                <td>Tactile paving</td>
                <td>{% if parada.propiedades.tactile_paving == 'y' %}Sí{% elif parada.propiedades.tactile_paving == 'n' %}No{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td>Bench</td>
                <td>{% if parada.propiedades.bench == 'y' %}Sí{% elif parada.propiedades.bench == 'n' %}No{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td>Shelter</td>
                <td>{% if parada.propiedades.shelter == 'y' %}Sí{% elif parada.propiedades.shelter == 'n' %}No{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td>Bin</td>
                <td>{% if parada.propiedades.bin == 'y' %}Sí{% elif parada.propiedades.bin == 'n' %}No{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td>Lit</td>
                <td>{% if parada.propiedades.lit == 'y' %}Sí{% elif parada.propiedades.lit == 'n' %}No{% else %}-{% endif %}</td>
            </tr>
        </table>
        <div id="mapa-parada">To see the map enable JavaScript</div>
    </div>
</div>
<script>var ubicacion = [{{parada.osmcoords[1]}}, {{ parada.osmcoords[0]}}];</script>
<script src="/static/scripts/lang.js"></script>
<script src="/static/scripts/parada.js"></script>
{% endblock content %}
