{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
<h1>Paradas</h1>
<input type="text" id="buscar" onkeyup="buscar()" placeholder="Search for an stop..." style="display: none">
<script src="/static/scripts/buscar.js"></script>
<table id="paradas">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lines</th>
    </tr>
    {% for parada in paradas['paradas'] %}
        {% if parada.lineas %}
            <tr>
                <td><a href="{{ url_for('parada', id_parada=parada.id, lang='en') }}" style="padding: 0px 4px;">{{ parada.id }}</a></td>
                <td><a href="{{ url_for('parada', id_parada=parada.id, lang='en') }}">{{ parada.nombre }}</a></td>
                <td>
                    {% for linea in parada.lineas %}
                        <a href="{{ url_for('linea', id_linea=linea.id, lang='en') }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{linea.nombre}}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
<script>buscar();</script>
{% endblock content %}
