{% extends "disposicion.html" %}
{% block content %}
<h1>Líneas</h1>
<p>Esta parte todavía no está completa y por tanto no es funcional. Por este motivo es más útil utilizar la sección <a href="{{ url_for('paradas', lang='es') }}>" style="color: #5e35b1;">"paradas"</a></p>
<table>
    <tr>
        <th>Línea</th>
        <th>Origen</th>
        <th>Destino</th>
    </tr>
    {% for linea in lineas['lineas'] %}
        <tr>
            <td><a href="{{ url_for('linea', id_linea=linea.id, lang='es') }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{ linea.nombre }}</a></td>
            <td>{{ linea.origen }}</td>
            <td>{{ linea.destino }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}