{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/map.css"><link rel="stylesheet" type="text/css" href="/static/css/other.css">
    <!-- leafletjs --><link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/><script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>{% endblock head %}
{% block content %}

<h1><span id="id-parada">{{ parada.id }}</span> - {{ parada.nombre }} <span class="material-symbols-outlined recargar" id="boton-recarga" style="display: none">refresh</span><small style="font-size: 45%; padding-left: 1em;" id="t"></small><span id="alerta""></span></h1>
<div class="flex-parada">
    <div class="lineas-parada flex-dentro">
        <div class="linea-parada" id="lineas">
            {% for linea in buses %}
            <div class="linea">
                <h1 id="{{ linea.linea.id }}">Línea <span class="simbolo_linea" style="background-color: #{{ linea.linea.color }}">{{ linea.linea.nombre }}</span></h1>
                {% for bus in linea.buses %}
                    {% if bus.distancia == '0' %}
                        <p>Bus {{ bus.bus }}, <b>en la parada</b>.</p>
                    {% else %}
                        <p>Bus {{ bus.bus }}, a {{ bus.distancia }}m, {{ bus.tiempo }}.</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="info-parada flex-dentro">
        <h2>Información de la parada</h2>
        <table>
            <tr><th>Detalles de la parada</th></tr>
            <tr><td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">blind</span> Pavimento táctil</td><td>{% if parada.propiedades.tactile_paving == 'y' %}Sí{% elif parada.propiedades.tactile_paving == 'n' %}No{% else %}-{% endif %}</td></tr>
            <tr><td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">airline_seat_recline_normal</span> Banco</td><td>{% if parada.propiedades.bench == 'y' %}Sí{% elif parada.propiedades.bench == 'n' %}No{% else %}-{% endif %}</td></tr>
            <tr><td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">roofing</span> Cubierta</td><td>{% if parada.propiedades.shelter == 'y' %}Sí{% elif parada.propiedades.shelter == 'n' %}No{% else %}-{% endif %}</td></tr>
            <tr><td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">delete</span> Papelera</td><td>{% if parada.propiedades.bin == 'y' %}Sí{% elif parada.propiedades.bin == 'n' %}No{% else %}-{% endif %}</td></tr>
            <tr><td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">light</span> Iluminada</td><td>{% if parada.propiedades.lit == 'y' %}Sí{% elif parada.propiedades.lit == 'n' %}No{% else %}-{% endif %}</td></tr>
        </table>
        <div id="mapa-parada">Para ver el mapa habilita el JavaScript</div>
    </div>
</div>
<p>Fuentes de los datos: <a href="https://osm.org" target="_blank" class="source">OpenStreetMap</a> (mapa e información de la parada) <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> (información de los buses)</p>
<script>var ubicacion = [{{parada.osmcoords[1]}}, {{ parada.osmcoords[0]}}];</script>
<script src="/static/scripts/lang.js"></script>
<script src="/static/scripts/parada.js"></script>
{% endblock content %}
