{% extends "disposicion.html" %}
{% block content %}
    <h1>Bus Urbano de Coruña</h1>
    <p class="parrafo">Esta páxina inclue a información en tempo real sobre o bus urbano de Coruña de <a href="https://itranvias.com" taget="_blank">iTranvias</a>, pero tamén inclúe datos das paradas a partir de <a href="https://osm.org" target="_blank">OpenStreetMap</a>. Este é o meu primeiro proxecto <i>"funcional"</i>, e consiste nesta páxina feita con <a href="http://flas.palletsprojects.com" target="_blank">flask</a>, unha libraría para python. Se tes curiosidade, gustaríache aprender, ou crees que podes axudarme a arreglar errores ou mellorar a páxina, podes ver, modificar e aportar ao código que se aloxa en <a href="https://codeberg.org/iago" target="_blank">Codeberg</a> e <a href="https://github.com/delthia" target="_blank">GitHub</a>.</p>
    <div>
        <img src="/static/img/parada.png" width="40%">
        <img src="/static/img/parada-mapa.png" width="43.625%">
    </div>
{% endblock content %}