{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
<h1><span class="simbolo_linea" style="background-color: #{{ line.color }}">{{ line.nombre }}</span> {{ line.origen }} - {{ line.destino }} <!--<a href="#mapa"><span class="material-symbols-outlined recargar">map</span></a><a href="#horas"><span class="material-symbols-outlined recargar" id="salidas">schedule</span></a>--><span class="material-symbols-outlined recargar" id="boton-recarga">refresh</span><small style="font-size: 45%; padding-left: 0.5em;" id="t"></small><small style="font-size: 45%; padding-left: 1em;" id="t"></small><span id="alerta""></span></h1>
<span id="alerta" style="background-color: red; padding: 8px 75px 8px 25px; display: none">Mensaje</span>
<!--<i>Es posible que los diagramas que se muestran en esta página no sean correctos</i>-->

<div class="popup" id="horas">
    <div class="popup-dentro" style="padding-right: 32px;">
        <h3>Horas de salida: <span class="material-symbols-outlined" style="vertical-align: middle">navigate_before</span>18/11/2022<span class="material-symbols-outlined" style="vertical-align: middle;">navigate_next</span><a href="#" class="material-symbols-outlined" style="float: right; text-decoration: none!important; vertical-align: middle">close</a></h3>
        <p><i style="color: #FF7043">Datos de prueba. No se corresponden con los reales</i></p>
        <div class="pestanas">
            <input type="radio" class="radio-pestanas" name="pestana" id="pestanas-ida" checked>
            <label for="pestanas-ida" class="etiqueta-pestanas">Ida</label>
            <div class="contenido-pestanas"><table class="horario-linea">
                <tr>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                    <td>12:30</td>
                </tr>
            </table></div>
            <input type="radio" class="radio-pestanas" name="pestana" id="pestanas-vuelta">
            <label for="pestanas-vuelta" class="etiqueta-pestanas">Vuelta</label>
            <div class="contenido-pestanas"><table class="horario-linea">
                <tr>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                </tr>
                <tr>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                </tr>
                <tr>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                </tr>
                <tr>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                    <td>08:55</td>
                </tr>
            </table></div>
        </div>
    </div>
</div>

<div class="popup" id="mapa">
    <div class="popup-dentro popup-mapa">
        <h3>Buses de esta línea: <a href="#" class="material-symbols-outlined" style="float: right; text-decoration: none!important; vertical-align: middle">close</a> <i style="color: #FF7043">Los datos de este mapa se cargan con esta página y no se actualizan dinámicamente. Esto es temporal</i></h3>
        <!--<script src="/api/linea/{{ linea }}/buses"></script>-->
        <!-- leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
        <div id="map" class="mapa-buses"></div>
        <!-- <script src="/static/scripts/L.Realtime.js"></script> -->
    </div>
</div>

<p id="id-linea" style="display: none">{{ line.id }}</p>
<div class="diagrama-linea">
    <div class="diagrama-dentro">
        <h2>Ida</h2>
        <div style="display: flex; flex-direction: row;" id="ida">
            <div id="buses-ida"></div>
            <div><ol class="paradas-linea" style="--color-linea: #{{ line.color }}; margin-left: 3em">
                {% for parada in paradas.paradas.ida %}
                    <li class="parada"><span class="nombre_parada">{{ parada.nombre }}</span><p><a href="{{ url_for('parada', id_parada=parada.id, lang='gal') }}">Enlaces:</a> {% for enlace in parada.lineas %}<span class="simbolo_linea" style="background-color: #{{ enlace.color }}">{{ enlace.nombre }}</span>{% endfor %}</p></li>
                {% endfor %}
            </ol></div>
        </div>
    </div>
    <div class="diagrama-dentro">
        <h2>Volta</h2>
        <div style="display: flex; flex-direction: row;" id="vuelta">
            <div id="buses-vuelta"></div>
            <div><ol class="paradas-linea" style="--color-linea: #{{ line.color }}; margin-left: 3em;">
                {% for parada in paradas.paradas.vuelta %}
                    <li class="parada"><span class="nombre_parada">{{ parada.nombre }}</span><p><a href="{{ url_for('parada', id_parada=parada.id, lang='gal') }}">Enlaces:</a> {% for enlace in parada.lineas %}<span class="simbolo_linea" style="background-color: #{{ enlace.color }}">{{ enlace.nombre }}</span>{% endfor %}</p></li>
                {% endfor %}
            </ol></div>
        </div>
    </div>
</div>
<script src="/static/scripts/simbolo-bus.js"></script>
<!--<hr>
<h1>Ida</h1>
{% if buses[0] %}
{% for parada in buses[0]['paradas'] %}
    <p>Parada {{ parada.parada }}
    {% for bus in parada.buses %}
        <p>Bus nº: {{ bus.bus }}; Estado: {{ bus.estado }}; Distancia: {{ bus.distancia*100 }}%</p>
        <p>0 Significa que el bus está en la parada, 1 significa que el bus está en movimiento, el porcentaje representa el porcentaje del bus en el recorrido total</p>
    {% endfor %}
    <hr>
{% endfor %}
{% endif %}
<h1>Vuelta</h1>
{% if buses[1] %}
{% for parada in buses[1]['paradas'] %}
    <p>Parada {{ parada.parada }}
    {% for bus in parada.buses %}
        <p>Bus nº: {{ bus.bus }}; Estado: {{ bus.estado }}; Distancia: {{ bus.distancia*100 }}%</p>
        <p>0 Significa que el bus está en la parada, 1 significa que el bus está en movimiento, el porcentaje representa el porcentaje del bus en el recorrido total</p>
    {% endfor %}
    <hr>
{% endfor %}
{% endif %}-->
{% endblock content %}
