/* Contiene las variables para los colores que se utilizan, los estilos para la disposición de las páginas
   y los estilos para la cabeza, el cuerpo, las tablas y el pie de página */

/* Colores */
:root {
    --bg: #f5f5f6;
    --sh: #d4d4d4;
    --bd: white;
    --fg: auto;
    --accent: #5e31b1; /* Material deep purple 600 */
    --haccent: #280680; /* Material deep purple xxx */
    --grey: #4f4f4f;
    --table-even: #f5f5f5;
    --h-parada: #4caf50;    /* Material green 500 */
    --h-status: #f44336;    /* Material reed 500 */
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --sh: #121212;
        --bd: #121212;
        --fg: white;
        --accent: #673ab7;  /* Material deep purple 500 */
        --haccent: #b39ddb; /* Material deep purple 200 */
        --grey: #eeeeee;
        --table-even: #202020;
    }

    td > a {
        color: var(--grey)!important;
    }
    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background: var(--table-even)!important;
    }
    #buscar {
        background-color: var(--table-even);
        color: white;
        border: none;
    }
}

/* Material icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Base */
html {
    background-color: var(--bg);
    color: var(--fg);
}
body {
    margin: 0 auto;
    max-width: 1250px;
    box-shadow: 0 0 10px var(--sh);
    background-color: var(--bd);
    font-family: 'Roboto';
}
.parrafo a, .contenedor-pp a, .source {
    color: var(--accent);
}
.parrafo {
    text-align: justify;
    padding: 0em 1em;
}

/* Barra de navegación */
header {
    background-color: var(--accent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header > a {
    color: white;
    padding: 12px 0px;
    margin: auto;
    text-align: center;
    flex-grow: 1;
    user-select: none;
}
header > a:hover {
    background-color: var(--haccent);
    text-decoration: none;
}
header .material-symbols-outlined {
    vertical-align: middle;
}

/* Estilos principales: Texto, Líneas, Enlaces... */
/* Símbolos de las líneas */
.simbolo_linea, .leaflet-popup-content > .simbolo_linea {
    padding: 2px 8px;
    border-radius: 4px;
    color: white!important;
}
.simbolo_linea, a {
    text-decoration: none;
}

h1 {
    font-size: 200%;
}
@media(max-width: 600px) { h1 { font-size: 150%; } #t { font-size: 60%!important } }
h1,h2 {
    font-weight: 300;
}
p, a, footer {
    color: var(--grey);
}
a:hover {
    text-decoration: underline;
}
.contenido {
    margin: 0em 1em;
}

/* Botón */
.recargar {
    background-color: var(--accent);
    padding: 4px 12px;
    border-radius: 4px;
    transition-duration: 250ms;
    color: white;
    cursor: pointer;
    margin-right: 4px;
    user-select: none;
}
.recargar:hover {
    background-color: var(--haccent);
}

/* Tablas */
td > a {
    color: black;
}
td > a:hover {
    text-decoration: underline;
}
table {
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
} @media(max-width: 720px) {
    table {
        width: 95%!important;
    }
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px 0px;
}
tr:nth-child(even) { background-color: var(--table-even); }
.enlace-tabla {
    display: block;
}
.a-p:hover {
    text-decoration: none;
}

/* Pie */
footer {
    width: 85%;
    margin: 10px auto auto auto;
    text-align: center;
    border-top: 1px solid #d4d4d4;
    padding: 10px 0px;
    user-select: none;
}

/* Páginas de error */
.icono-error {
    font-size: 350%;
    display: block;
    text-align: center;
    margin-top: 150px;
}
.mensaje-error {
    display: block;
    text-align: center;
    font-size: 200%;
    margin-bottom: 150px;
}

/* Mensaje de error flotante */
.error {
    background-color: var(--accent);
    position: fixed;
    /* bottom: 25px; */
    left: 75px;
    padding: 8px 64px 8px 32px;    /* Arriba derecha abajo izquierda */
    border-radius: 4px;
    z-index: 9999;
    /* bottom: -5%; */

    /* Animación */
    /* animation-name: error; */
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out  ;
}

@media(max-width: 720px) {
    .error {
        width: 95%;
        left: 1.5%;
        padding: 8px 0px 8px 8px;
    }
}

@keyframes error {
    0%, 100% { bottom: -5%; }
    5%, 95% { bottom: 25px; }
}

.animar.error {
    animation-name: error;
}

#borde-abajo {
    border-bottom: 4px solid var(--haccent);
    position: absolute;
    /* right: 100%; */
    left: 0;
    bottom: 0;
    border-radius: 4px;

    /* Animación */
    /* animation-name: indicador; */
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes indicador {
    0%, 5% { right: 0%; }
    95% { right: 100%; }
}

.animar.bordeerror {
    animation-name: indicador;
}
