/* Contiene el resto de estilos para la página, los estilos para los campos de búsqueda,
   el diagrama de paradas, para los mapas, los popups y otros arreglos, como ocultar las
   barras de desplazamiento en windows */

/* Información de las paradas */
/* Diagrama de líneas (parte) */
.flex-dentro, .diagrama-dentro {
    flex-grow: 1;
}
.flex-parada, .diagrama-linea {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.lineas-parada, .info-parada, .diagrama-dentro {
    padding-left: 1em;
}
@media (max-width: 720px) {
    .flex-parada, .diagrama-linea {
        flex-direction: column;
    }
    .lineas-parada {
        text-align: center;
    }
    #mapa-parada {
        width: 95%;
    }
}
/* Ajustar los contenedores de la página de línea */
.flex-linea {
    width: 60%;
}
.flex-linea-2 {
    width: 40%;
}
@media(max-width: 720px) {
    .flex-linea {
        width: 100%;
    }
    .flex-linea-2 {
        width: 100%;
    }
}

/* Búsqueda */
#buscar {
    max-width: 100%;
    width: 65%;
    /*width: 72.4%;*/
    display: block;
    margin: 0 auto 20px auto;
    padding: 6px 10px 6px 20px;
    outline: none;
    border: 1px solid var(--bg);
    border-radius: 4px;
}
#buscar:focus {
    border: 1px solid var(--accent);
    color: var(--haccent);
}

/* Mapa de paradas */
.paradas-linea {
    list-style: none;
    border-left: 2px solid;
    border-color: var(--color-linea);
    padding-left: 1em;
    margin-left: 4em;
}
.parada::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: var(--color-linea);
    position: absolute;
    border-radius: 50%;
    margin-left: -1.55em;    
}
.parada p {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}
@media (max-width: 720px) {
    .paradas-linea {
        margin-left: 2em;
    }
}
.simbolo_bus {
    color: white;
    background-color: #5e35b1;
    padding: 2px;
    border-radius: 4px;
    user-select: none;
}
.simbolo_bus_parada {
    animation-name: parada;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
.simbolo_bus_otro {
    animation-name: otro;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
@keyframes parada {
    0%, 100% {background-color: var(--accent);}
    19% {background-color: var(--h-parada);}
}
@keyframes otro {
    0%, 100% {background-color: var(--accent);}
    50% {background-color: var(--h-status);}
}

/* Diálogo de horarios */
.popup {
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.popup:target {
    opacity: 1;
    pointer-events: all;
}
.popup-dentro {
    background-color: var(--bg);
    padding: 16px 16px;
    padding-top: 0px!important;
    /* max-width: 768px; */
    max-width: 95%;
    border-radius: 16px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
    overflow: scroll;
}

/* Pestañas */
.pestanas {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}
.etiqueta-pestanas {
    padding: 10px 16px;
    cursor: pointer;
}
.radio-pestanas {
    display: none;
}
.contenido-pestanas {
    order: 1;
    width: 100%;
    /* border-bottom: 3px solid var(--accent); */
    /* line-height: 1.5;
    font-size: 0.9em; */
    display: none;
    margin-top: 8px;
}
.radio-pestanas:checked+.etiqueta-pestanas {
    font-weight: bold;
    color: var(--haccent);
    border-bottom: 2px solid var(--accent);
}
.radio-pestanas:checked+.etiqueta-pestanas+.contenido-pestanas {
    display: initial;

}
.horario-linea td {
    padding: 8px 16px;
}
.popup .contenido-pestanas {
    overflow: scroll;
}

/* Mapa de buses */
/* style="width: 1000px; height: 750px" */
.mapa-buses {
    width: 100%;
    height: 91%;
}
.popup-mapa {
    width: 60%;
    height: 85%;
}
@media (max-width: 720px) {
    .popup-mapa {
        width: 100%;
        height: 100%;
    }
}

.diagrama-dentro > * {
    /* overflow: hidden; *//*  TEMPORAL */
    overflow: scroll; /* TEMPORAL */
}

/* Alerta */
#alerta {
    background-color: #F44336;  /* Material red 500 */
    transition-duration:500ms;
    padding: 4px 16px;
    opacity: 0%;
    font-size: 65%;
    vertical-align: middle;
}

.alerta_visible {
    opacity: 100%!important;
    border-radius: 2px;
}

/* Ocultar las barras de desplazamiento en windows */
.diagrama-dentro>* {
    -ms-text-overflow-style: none!important;
    scrollbar-width: none!important ;
}

.diagrama-dentro>*::-webkit-scrollbar {
    display: none!important;
  }

/* Contenedores para la página principal */
#escalonado > div {
    display: flex;
    overflow: hidden;
}
#escalonado div > img {
    width: 65%;
    object-fit: cover;
}
#escalonado div > div {
    flex-grow: 1;
    padding-left: 1.5em;
    width: 1%;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 50px;
}
#escalonado div:nth-child(odd) > div {
    padding-left: 0px!important;
    padding-right: 1.5em;
}
#escalonado div >  p {
    margin-left: 0.5em;
}
@media(max-width: 950px) {
    #escalonado div { flex-direction: column; }
    #escalonado div:nth-child(even) { flex-direction: column-reverse; }
    #escalonado div > img { width: 100%; }
    #escalonado div > div { width: 75%; margin: 0 auto 20px auto; padding-left: 0px!important; }
}
.enlace-pp {
    background-color: var(--accent);
    padding: 12px 16px;
    border-radius: 6px;
    transition-duration: 250ms;
    color: white!important;
}
.enlace-pp:hover {
    background-color: var(--haccent);
    text-decoration: none;
    user-select: none;
}

/* Caja de búsqueda de la página principal */
.buscar-pp {
    width: 70%;
    margin: 0 auto 20px auto;
    padding: 12px;
    outline: none;
    border: 1px solid var(--bg);
    border-radius: 4px;
}
.buscar-pp:focus {
    border: 1px solid var(--accent);
    color: var(--haccent);
}
@media( prefers-color-scheme: dark ) {
    .buscar-pp {
        background-color: var(--table-even);
        color: white;
        border: none;
    }
} 

/* Adaptación de la página principal en pantallas pequeñas */
@media( max-width: 720px ) {
    .contenedor-pp {
        flex-direction: column-reverse;
        margin-bottom: 1em;
    }
    .pp-r {
        flex-direction: column;
    }
    .contenedor-pp img {
        margin-left: 0px;
        width: 90%;
        object-fit: cover;
        align-self: center;
    }
    .contenedor-pp div {
        flex-grow: 1;
        padding-left: 0em;
        width: 90%;
        align-self: center;
        text-align: justify;
        line-height: 1.5em;
        margin-top: 0px;
        margin-bottom: 2em;
    }
}

.parada p {
    white-space: nowrap;
}

/* Leyenda de la página de línea */
#leyenda {
    border: 2px dashed var(--fg);
    padding-left: 16px;
    width: 100%-16px;
    border-radius: 0px 0px 10px 10px;
}
@media(prefers-color-scheme: light) { #leyenda { border: 2px dashed black; } }
/* Tarjetas de resultado de la búsqueda */
.resultados-busqueda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}
.tarjeta-resultado {
    border: 1px solid var(--fg);
    border-radius: 8px;
    width: 20%;
    padding: 0px 24px 12px 24px;
    margin-bottom: 16px;
    background-color: var(--table-even);
}

/* Pruebas */
#lineas > h1 {
    cursor: pointer;
}

.stop_pin {
    rotate: 35deg;
    display: none;
    color: #FFFFFF44;
    user-select: none;
}
@media(prefers-color-scheme: light) {
    .stop_pin {
        color: #CCCCCC;
    }
}

#lineas > h1:hover .stop_pin   {
    display: inline-block;
}
