<!DOCTYPE html>
<html lang="{% if request.args.get('lang') == 'gal' %}gl-ES{% elif request.args.get('lang') == 'es' %}es-ES{% elif request.args.get('lang') == 'en' %}en{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bus.delthia.com es un cliente para la información sobre el bus urbano de Coruña. Combina la información en tiempo real sobre los buses con datos de osm de las paradas, presentado en mapas y tablas.">
    <meta name="theme-color" content="#5e31b1">

    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png">

    <link rel="manifest" href="/static/manifest.webmanifest">

    {% if lang == 'en' %}<title>Public transportation {% if title %}- {{ title }}{% endif %}</title>{% else %}<title>Transporte público {% if title %}- {{ title }}{% endif %}</title>{% endif %}

    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300,500;0,400;1,300;1,400&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet"> 
    <!-- Material icons -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <link rel="icon" href="/static/commute-w.svg">
    <link rel="icon" sizes="32x32" href="/static/icons/icono-bus-32.png">
    <link rel="icon" sizes="256x256" href="/static/icons/icono-bus-256.png">

    <!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <!-- Plausible analytics -->
    <!-- <script defer data-domain="bus.delthia.com" src="https://plausible.delthia.com/js/script.js"></script> -->
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        <a href="{{ url_for('web.inicio', lang=lang) }}"><span class="material-symbols-outlined">commute</span>{{ t['t-inicio'] | capitalize }}</a>
        <a href="{{ url_for('web.mapa', lang=lang) }}"><span class="material-symbols-outlined">map</span>{{ t['t-mapa'] | capitalize }}</a>
        <a href="{{ url_for('web.paradas', lang=lang) }}"><span class="material-symbols-outlined">pergola</span>{{ t['paradas'] | capitalize }}</a>
        <a href="{{ url_for('web.lineas', lang=lang) }}"><span class="material-symbols-outlined">route</span>{{ t['lineas'] | capitalize }}</a>
    </header>
    {% if mensaje %}
        <div id="mensaje" class="mensaje-{{ mensaje.color }}">
            <span class="material-symbols-outlined">{{ mensaje.icono }}</span> {{ mensaje.texto }}
        </div>
    {% endif %}
    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/sw.js")
        }
    </script>
    <div class="contenido">{% block content %}{% endblock content %}</div>
    {% if lang == 'es' %}<footer><a href="{{ url_for('web.cambios', lang=lang) }}"> {{ t['foot']['version'] }}: 1.1.0</a> • <a href="{{ url_for('web.acerca_de', lang=lang) }}">&copy; {{ t['foot']['copy'] }}</a> • <a href="{{ url_for('web.fuente', lang=lang) }}">{{ t['foot']['fuente'] }}</a> • <a href="{{ url_for('web.privacy', lang=lang) }}">{{ t['foot']['privacidad'] }}</a><!-- • <a href="{{ url_for('web.tarifas', lang=lang) }}"><span class="material-symbols-outlined" style="vertical-align: middle;">universal_currency_alt</span> Tarifas </a>--> • {{ t['foot']['idioma'] }}: <b>es</b> <a href="{{ url_for('web.inicio', lang=lang) }}" id="lang">gal</a> <a href="{{ url_for('web.inicio', lang=lang) }}" id="lang2">en</a></footer>
    {% elif lang == 'en' %}<footer><a href="{{ url_for('web.cambios', lang=lang) }}"> {{ t['foot']['version'] }}: 1.1.0</a> • <a href="{{ url_for('web.acerca_de', lang=lang) }}">&copy; {{ t['foot']['copy'] }}</a> • <a href="{{ url_for('web.fuente', lang=lang) }}">{{ t['foot']['fuente'] }}</a> • <a href="{{ url_for('web.privacy', lang=lang) }}">{{ t['foot']['privacidad'] }}</a><!-- • <a href="{{ url_for('web.tarifas', lang=lang) }}"><span class="material-symbols-outlined" style="vertical-align: middle;">universal_currency_alt</span> Tarifas </a>--> • {{ t['foot']['idioma'] }}: <a href="{{ url_for('web.inicio', lang=lang) }}" id="lang">es</a> <a href="{{ url_for('web.inicio', lang=lang) }}" id="lang2">gal</a> <b>en</b> </footer>
    {% elif lang == 'gal' %}<footer><a href="{{ url_for('web.cambios', lang=lang) }}"> {{ t['foot']['version'] }}: 1.1.0</a> • <a href="{{ url_for('web.acerca_de', lang=lang) }}">&copy; {{ t['foot']['copy'] }}</a> • <a href="{{ url_for('web.fuente', lang=lang) }}">{{ t['foot']['fuente'] }}</a> • <a href="{{ url_for('web.privacy', lang=lang) }}">{{ t['foot']['privacidad'] }}</a><!-- • <a href="{{ url_for('web.tarifas', lang=lang) }}"><span class="material-symbols-outlined" style="vertical-align: middle;">universal_currency_alt</span> Tarifas </a>--> • {{ t['foot']['idioma'] }}: <a href="{{ url_for('web.inicio', lang=lang) }}" id="lang">es</a> <b>gal</b> <a href="{{ url_for('web.inicio', lang=lang) }}" id="lang2">en</a></footer>
    {% endif %}
    <script>document.getElementById('lang').setAttribute('href', window.location.href.toString().replace('lang='+new URLSearchParams(window.location.search).get('lang'), 'lang='+document.getElementById('lang').innerHTML)); document.getElementById('lang2').setAttribute('href', window.location.href.toString().replace('lang='+new URLSearchParams(window.location.search).get('lang'), 'lang='+document.getElementById('lang2').innerHTML));</script>
</body>
</html>
