{% extends "disposicion.html" %}{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
<div id="escalonado">
    <h1>bus.delthia.com <i style="font-size: 65%">- {{ t.descripcion }}</i></h1>
    <div>
        <img src="/static/img/parada.webp">
        <div>
            <h1>{{ t.inicio['info-parada'] }}</h1>
            <p>{{ t.inicio['desc-parada']|safe }}</p>
            <!-- <div id="caja" style="visibility: hidden"> -->
                <input type="text" class="buscar-pp" id="b" onkeyup="enlace()" placeholder="{{ t.buscar }}" style="margin-right: 0.5vh" accesskey="b">
                <a href="{{ url_for('web.paradas', lang=lang ) }}" class="enlace-pp b-pp" id="lupa"><span class="material-symbols-outlined" style="vertical-align: middle;">search</span></a>
            <!-- </div> -->
            <script>
                // document.getElementById('caja').style.visibility = "visible";
                dir = document.getElementById('lupa').getAttribute('href');
                function enlace() {
                    busqueda = document.getElementById('b').value;
                    document.getElementById('lupa').setAttribute('href', dir+'&search='+busqueda);
                }
            </script>
        </div>
    </div>
    <div>
        <div>
            <h1>{{ t.inicio.mapa }}</h1>
            <p>{{ t.inicio['desc-mapa'] }}</p>
            <a href="{{ url_for('web.mapa', lang=lang ) }}" class="enlace-pp">{{ t.inicio['enlace-mapa'] }}</a>
        </div>
        <img src="/static/img/mapa.webp">
    </div>
    <div>
        <img src="/static/img/linea-nuevo.webp">
        <div>
            <h1>{{ t.inicio.linea }}</h1>
            <p>{{ t.inicio['desc-linea'] }}</p>
            <a href="{{ url_for('web.lineas', lang=lang ) }}" class="enlace-pp">{{ t.inicio['enlace-linea'] }}</a>
        </div>
    </div>
    <div>
        <div>
            <h1>{{ t.inicio.fuente }}</h1>
            <p>{{ t.inicio['desc-fuente'] }}</p>
            <p>{{ t.inicio['desc-fuente-2']|safe }}</p>
            <a href="{{ url_for('web.fuente', lang=lang ) }}" class="enlace-pp">{{ t.inicio['enlace-fuente'] }}</a>
        </div>
        <img src="/static/img/github.webp" style="border-radius: 16px; margin-bottom: 25px;">
    </div>
</div>
{% endblock content %}
