{% extends "disposicion.html" %}
{% block content %}
<h1>{{ t['lineas'] | capitalize }}</h1>
<table>
    <tr>
        <th>{{ t['linea'] | capitalize }}</th>
        <th>{{ t['origen'] | capitalize }}</th>
        <th>{{ t['destino'] | capitalize }}</th>
    </tr>
    {% for linea in lineas['lineas'] %}
        <tr>
            <td><a href="{{ url_for('web.linea', id_linea=linea.id, lang=lang) }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{ linea.nombre }}</a></td>
            <td><a href="{{ url_for('web.linea', id_linea=linea.id, lang=lang) }}" class="enlace-tabla a-p">{{ linea.origen }}</a></td>
            <td><a href="{{ url_for('web.linea', id_linea=linea.id, lang=lang) }}" class="enlace-tabla a-p">{{ linea.destino }}</a></td>
        </tr>
    {% endfor %}
</table>
<p>{{ t['fuentes'] | capitalize }}: <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> ({{ t['lineas'] }})</p>
{% endblock content %}
