{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/map.css"><link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
{% include "includes/leaflet.html" %}   <!-- leafletjs -->

<h1><span id="id-parada">{{ parada.id }}</span> - {{ parada.nombre }} <span class="material-symbols-outlined recargar" id="boton-recarga" style="display: none" onclick="actualizar(last)">refresh</span><small style="font-size: 45%; padding-left: 1em;" id="t"></small></h1>
<div class="flex-parada">
    <div class="lineas-parada flex-dentro">
        <div class="linea-parada" id="lineas">
            {% for linea in buses %}
            <div class="linea">
                <h1 id="{{ linea.linea.id }}">{{ t['linea']|capitalize }} <span class="simbolo_linea" style="background-color: #{{ linea.linea.color }}">{{ linea.linea.nombre }}</span></h1>
                {% for bus in linea.buses %}
                    {% if bus.distancia == '0' %}
                        <p>Bus {{ bus.bus }}, <b>{{ t['en-parada'] }}</b>.</p>
                    {% else %}
                        <p>Bus {{ bus.bus }}, {{ t['a'] }}{{ bus.distancia }}m, {{ bus.tiempo }}.</p>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="info-parada flex-dentro">
        <h2>{{ t['titulo-tabla'] }}</h2>
        <table>
            <tr>
                <th colspan="2">{{ t['detalles'] }}</th>
            </tr>
            <tr>
                <td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">blind</span> {{ t['pavimento']|capitalize }}</td>
                <td>{% if parada.propiedades.tactile_paving == True %}{{ t['si']|capitalize }}{% elif parada.propiedades.tactile_paving == False %}{{ t['no']|capitalize }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">airline_seat_recline_normal</span> {{ t['banco']|capitalize }}</td>
                <td>{% if parada.propiedades.bench == True %}{{ t['si']|capitalize }}{% elif parada.propiedades.bench == False %}{{ t['no']|capitalize }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">roofing</span> {{ t['cubierta']|capitalize }}</td>
                <td>{% if parada.propiedades.shelter == True %}{{ t['si']|capitalize }}{% elif parada.propiedades.shelter == False %}{{ t['no']|capitalize }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">delete</span> {{ t['papelera']|capitalize }}</td>
                <td>{% if parada.propiedades.bin == True %}{{ t['si']|capitalize }}{% elif parada.propiedades.bin == False %}{{ t['no']|capitalize }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none;">light</span>{{ t['iluminada']|capitalize }}</td>
                <td>{% if parada.propiedades.lit == True %}{{ t['si']|capitalize }}{% elif parada.propiedades.lit == False %}{{ t['no']|capitalize }}{% else %}-{% endif %}</td>
            </tr>
        </table>
        <div id="mapa-parada">{{ t['mapa-parada'] }}</div>
    </div>
</div>
<p>{{ t['fuentes']|capitalize }}: <a href="https://osm.org/node/{{ parada.osmid }}" target="_blank" class="source">OpenStreetMap</a> ({{ t['fuente-mapa-parada'] }}) <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> ({{ t['informacion-buses'] }})</p>

<div id="mensaje-error" class="error"><span id="mensaje-error-mensaje">Error</span><div id="borde-abajo" class="bordeerror"></div></div>

<script>var ubicacion = [ {% if parada.osmcoords != [] %}{{parada.osmcoords[1]}}, {{parada.osmcoords[0]}}{% else %}{{parada.coords[1]}}, {{parada.coords[0]}}{% endif %} ];</script>
<script src="/static/scripts/utils.js"></script>
<script src="/static/scripts/parada.js"></script>
{% endblock content %}
