{% extends "disposicion.html" %}
{% block content %}
<h1>Tarifas:</h1>
<div style="user-select: none;">
    <span class="material-symbols-outlined" style="font-size: 600%;">badge</span>
    <span class="material-symbols-outlined" style="font-size: 600%;">school</span>
    <span class="material-symbols-outlined" style="font-size: 600%;">elderly</span>
    <span class="material-symbols-outlined" style="font-size: 600%;">chair</span>
    <span class="material-symbols-outlined" style="font-size: 600%;">science</span>
    <span class="material-symbols-outlined" style="font-size: 600%;">child_care</span>
    <span class="material-symbols-outlined" style="font-size: 600%;">accessible</span>
    <span class="material-symbols-outlined" style="font-size: 600%;">savings</span>
</div>
{% endblock content %}
