.paradas-linea {
    list-style: none;
    border-left: 2px solid;
    border-color: var(--color-linea);
    padding-left: 1em;
    /* margin-left: 2em; */
}
.parada::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: var(--color-linea);
    position: absolute;
    border-radius: 50%;
    margin-left: -1.55em;
}
.parada p {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

/* Nuevo */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
}
.grid-item {
}
.grid-left {
    grid-column: 1;
}
.grid-right {
    grid-column: 2;
}