{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
<h1>{{ t['paradas']|capitalize }}</h1>
<input type="text" id="buscar" onkeyup="buscar()" placeholder="{{ t['buscar'] }}" style="display: none">
<script src="/static/scripts/buscar.js"></script>
<table id="paradas">
    <tr>
        <th>ID</th>
        <th>{{ t['nombre']|capitalize }}</th>
        <th>{{ t['lineas']|capitalize }}</th>
    </tr>
    {% for parada in paradas['paradas'] %}
        {% if parada.lineas %}
            <tr>
                <td><a href="{{ url_for('parada', id_parada=parada.id, lang=lang) }}" style="padding: 0px 4px;" class="enlace-tabla">{{ parada.id }}</a></td>
                <td><a href="{{ url_for('parada', id_parada=parada.id, lang=lang) }}" class="enlace-tabla">{{ parada.nombre }}</a></td>
                <td>
                    {% for linea in parada.lineas %}
                        <a href="{{ url_for('linea', id_linea=linea.id, lang=lang) }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{ linea.nombre }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
<p>{{ t['fuentes']|capitalize }}: <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> ({{ t['paradas'] }})</p>
<script>buscar();</script>
{% endblock content %}
