{% extends "disposicion.html" %}
{% block content %}
    <h1>Historial de cambios</h1>
    <h2 id="0.0.3"><span class="material-symbols-outlined" style="vertical-align: middle">sell</span> 0.0.3 - Aplicación Web Progresiva, traducciones y otros arreglos</h2>
    <p><ul>
        <li>Ahora la página se puede instalar como una PWA:</li>
        <ul>
            <li>Se hace una caché de los scripts y de las hojas de estilos</li>
            <li>Se puede añadir a la pantalla de inicio con un icono</li>
        </ul>
        <li>Ahora la página está disponible en Gallego, Español e Inglés</li>
        <li>Arreglos de otros estilos</li>
        <ul>
            <li>No se puede seleccionar el texto en algunos botones</li>
            <li>Ahora las tablas ocupan más en las pantallas pequeñas, y coinciden en anchura con el mapa en la página de parada</li>
        </ul>
        <ul>Otros cambios:</ul>
        <ul>
            <li>Ahora los mapas cambian de estilo con la página</li>
            <li>Se puede elegir el estilo del mapa principal entre los estilos:</li>
                <ul>
                    <li>Carto Dark</li>
                    <li>Carto Voyager</li>
                    <li>Estilo por defecto de OpenStreetMap</li>
                </ul>
            <li>Ahora los estilos están separados en tres hojas</li>
        </ul>
    </ul></p>
    <h2 id="0.0.2"><span class="material-symbols-outlined" style="vertical-align: middle">sell</span> 0.0.2 - Páginas de error y Modo Oscuro</h2>
    <p><ul>
        <li>Ahora se muestran mensaje de error en donde antes se mostraban errores genéricos cuando:</li>
        <ul>
            <li>Una parada está inactiva o no hay más buses</li>
            <li>No se pueden descargar los datos desde TranvíasCoruna</li>
            <li>En una línea solo hay buses en un sentido</li>
        </ul>
        <li>Ahora hay un modo oscuro que se establece automáticamente si el navegador lo pide</li>
        <li>Ahora se muestran las paradas de una línea en un esquema - No se muestra el bus con respecto al dibujo. (Próximamente)</li>
    </ul></p>
    <h2 id="0.0.1"><span class="material-symbols-outlined" style="vertical-align: middle">sell</span> 0.0.1 - Producto Mínimo</h2>
    <p><ul>
        <li>El mapa con todas las paradas muestra sus líneas y enlaza a las paradas o a las líneas</li>
        <li>La tabla de paradas tiene una búsqueda sencilla, muestra los nombres de las paradas, sus identificadores y sus líneas</li>
        <li>La tabla de líneas muestra las líneas, sus orígenes y sus destinos</li>
        <li>Característica de la página de parada:</li>
        <ul>
            <li>Se muestran los buses de cada línea</li>
            <li>Se muestran los minutos que faltan para cada bus, la hora estimada si faltan más de 60 minutos y cuando el bus está en la parada</li>
            <li>Los datos se actualizan automáticamente cada 30s</li>
            <li>Se pueden recargar los datos sin actualizar la página cada 15s</li>
            <li>Se muestra información de la parada en una tabla con datos obtenidos de OpenStreetMap</li>
            <li>Se muestra un mapa en el que se marca la parada</li>
        </ul>
    </ul></p>
{% endblock content %}