<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>Transporte público - {{ title }}</title>
    {% else %}
        <title>Transporte público</title>
    {% endif %}

    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <!-- Material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="icon" href="/static/commute-w.svg">
    <link rel="icon" href="/static/icons/icon-31.png">

    <link rel="stylesheet" type="text/css" href="/static/style.css"> 
</head>
<body>
    <header>
        <a href="{{ url_for('inicio') }}"><span class="material-symbols-outlined">commute</span>Inicio</a>
        <a href="{{ url_for('mapa') }}"><span class="material-symbols-outlined">map</span>Mapa</a>
        <a href="{{ url_for('paradas') }}"><span class="material-symbols-outlined">pergola</span>Paradas</a>
        <a href="{{ url_for('lineas') }}"><span class="material-symbols-outlined">route</span>Líneas</a>
    </header>
    <div class="contenido">{% block content %}{% endblock content %}</div>

    <footer>
        <p>Versión: 0.0.1 · &copy; 2022 Iago · <a href="{{ url_for('fuente') }}">Código fuente</a></p>
    </footer>
</body>
</html>