<!DOCTYPE html>
<html lang="{% if request.args.get('lang') == 'gal' %}gl-ES{% endif %}{% if request.args.get('lang') == 'es' %}es-ES{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bus.delthia.com es un cliente para la información sobre el bus urbano de coruña. Combina la información en tiempo real sobre los buses con datos de osm de las paradas, presetnado en mapas y tablas.">

    {% if title %}
        <title>Transporte público - {{ title }}</title>
    {% else %}
        <title>Transporte público</title>
    {% endif %}

    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <!-- Material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="icon" href="/static/commute-w.svg">
    <link rel="icon" sizes="32x32" href="/static/icono-bus-32.png">
    <link rel="icon" sizes="256x256" href="/static/icono-bus-256.png">

    <!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        {% if request.args.get('lang') == 'gal' %}{%  include 'gal/header.html' %}{% endif %}
        {% if request.args.get('lang') == 'es' %}{%  include 'es/header.html' %}{% endif %}
    </header>
    <div class="contenido">{% block content %}{% endblock content %}</div>
    {% if request.args.get('lang') == 'gal' %}{%  include 'gal/footer.html' %}{% endif %}
    {% if request.args.get('lang') == 'es' %}{%  include 'es/footer.html' %}{% endif %}
</body>
</html>
