{% extends "disposicion.html" %}
{% block content %}
    <h1>Bus Urbano de Coruña</h1>
    <p class="parrafo">Esta página incluye la información en tiempo real sobre el bus urbando de coruña de <a href="https://itranvias.com" target="_blank">iTranvías</a>, pero también incluye datos de las paradas a partir de <a href="https://osm.org" target="_blank">OpenStreetMap</a>. Este es mi primer proyecto <i>"funcional"</i>, y consiste en esta página hecha con <a href="https://flask.palletsprojects.com" target="_blank">flask</a>, una librería para python. Si tienes curiosidad, te gustaría aprender, o crees que puedes ayudarme a solucionar errores o mejorar la página, puedes ver, modificar y aportar al código que se aloja en <a href="https://codeberg.org/iago" target="_blank">Codeberg</a> y <a href="https://github.com/delthia" target="_blank">GitHub</a>.</p>
    <div>
        <img src="/static/img/parada.png" width="40%">
        <img src="/static/img/parada-mapa.png" width="43.625%">
    </div>
{% endblock content %}