{% extends "disposicion.html" %}
{% block content %}
{% if request.args.get('lang') == 'es' %}
    <h1>Bus Urbano de Coruña</h1>
    <p class="parrafo">Esta página incluye la información en tiempo real sobre el bus urbando de coruña de <a href="https://itranvias.com" target="_blank">iTranvías</a>, pero también incluye datos de las paradas a partir de <a href="https://osm.org" target="_blank">OpenStreetMap</a>. Este es mi primer proyecto <i>"funcional"</i>, y consiste en esta página hecha con <a href="https://flask.palletsprojects.com" target="_blank">flask</a>, una librería para python. Si tienes curiosidad, te gustaría aprender, o crees que puedes ayudarme a solucionar errores o mejorar la página, puedes ver, modificar y aportar al código que se aloja en <a href="https://codeberg.org/iago" target="_blank">Codeberg</a> y <a href="https://github.com/delthia" target="_blank">GitHub</a>.</p>
{% elif request.args.get('lang') == 'gal' %}
    <h1>Bus Urbano de Coruña</h1>
    <p class="parrafo">Esta páxina inclúe a información en tempo real sobre o bus urbano de Coruña de <a href="https://itranvias.com" taget="_blank">iTranvias</a>, pero tamén inclúe datos das paradas a partir de <a href="https://osm.org" target="_blank">OpenStreetMap</a>. Este é o meu primeiro proxecto <i>"funcional"</i>, e consiste nesta páxina feita con <a href="http://flask.palletsprojects.com" target="_blank">flask</a>, unha libraría para python. Se tes curiosidade, gustaríache aprender, ou crees que podes axudarme a arreglar errores ou mellorar a páxina, podes ver, modificar e aportar ao código que se aloxa en <a href="https://codeberg.org/iago" target="_blank">Codeberg</a> e <a href="https://github.com/delthia" target="_blank">GitHub</a>.</p>
{% elif request.args.get('lang') == 'en' %}
    <h1>Urban Bus of Coruña</h1>
    <p class="parrafo">This page includes real time information about the urban bus in Coruña from <a href="https://itranvias.com" target="_blank">iTranvias</a>, but it also includes data from <a href="https://osm.org" target="_blank">OpenStreetMap</a>. This is my first <i>"functional"</i> project, it consists in this page made with <a href="https://flask.palletsprojects.com" target="_blank">flask</a>, a python module. If you're curious, you'd like to learn or you believe you could help me fix errors or make the page better, you can see, modify and add to the code that it is hosted in <a href="https://codeberg.org/iago" target="_blank">Codeber</a> and <a href="https://github.com/delthia" target="_blank">GitHub</a>.</p>
{% endif %}
<div>
    <img src="/static/img/parada.webp">
    <img src="/static/img/mapa.webp">
</div>
{% endblock content %}