{% extends "disposicion.html" %}
{% block content %}
{% if request.args.get('lang') == 'es' %}
<h1>Líneas</h1>
<table>
    <tr>
        <th>Línea</th>
        <th>Origen</th>
        <th>Destino</th>
    </tr>
{% elif request.args.get('lang') == 'gal' %}
<h1>Liñas</h1>
<table>
    <tr>
        <th>Liña</th>
        <th>Orixe</th>
        <th>Destino</th>
    </tr>
{% elif request.args.get('lang') == 'en' %}
<h1>Lines</h1>
<table>
    <tr>
        <th>Line</th>
        <th>Origin</th>
        <th>Desination</th>
{% endif %}
    {% for linea in lineas['lineas'] %}
        <tr>
            <td><a href="{{ url_for('linea', id_linea=linea.id, lang=request.args.get('lang')) }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{ linea.nombre }}</a></td>
            <td>{{ linea.origen }}</td>
            <td>{{ linea.destino }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
