{% extends "disposicion.html" %}
{% block content %}
<div class="contenedor-lineas">
    <h1>Línea 5</h1>
    <ul class="lineas">
        <li>
            <div class="linea">5</div>
            <p>Av. do ferrocarril, 81</p>
        </li>
        <li>
            <div class="linea">5</div>
            <p>Av. do ferrocarril, 81</p>
        </li>
        <li>
            <div class="linea">5</div>
            <p>Av. do ferrocarril, 81</p>
        </li>
        <li>
            <div class="linea">5</div>
            <p>Av. do ferrocarril, 81</p>
        </li>
    </ul>
</div>
{% endblock content %}