{% extends "disposicion.html" %}
{% block content %}
<h1 style="font-size: 200%; margin-top: 0">Líneas</h1>
<table>
    <tr>
        <th>Línea</th>
        <th>Origen</th>
        <th>Destino</th>
    </tr>
    {% for linea in lineas['lineas'] %}
        <tr>
            <td><a href="{{ url_for('linea', id_linea=linea.id) }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{ linea.nombre }}</a></td>
            <td>{{ linea.origen }}</td>
            <td>{{ linea.destino }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}