{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/map.css"><link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
<!-- leafletjs -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

<h1><span class="simbolo_linea" style="background-color: #{{ line.color }}">{{ line.nombre }}</span> {{ line.origen }} - {{ line.destino }} <a href="#horas"><span class="material-symbols-outlined recargar" id="salidas" onclick="calendario()">schedule</span></a><span class="material-symbols-outlined recargar" id="boton-recarga" onclick="actualizar(last)">refresh</span> <small style="font-size: 45%" id="t"></small></h1>
<span id="alerta" style="display: none"></span>
<i id="msg-js">{{ t['mensaje-js']|safe }}</i>

<div class="popup" id="horas">
    <div class="popup-dentro" style="padding-right: 32px;">
        <h3>{{ t['horas-salida'] }} <span class="material-symbols-outlined" style="vertical-align: middle; user-select: none; cursor: pointer;" onclick="calendario('menos')">navigate_before</span><span id="fecha-consulta"></span><span class="material-symbols-outlined" style="vertical-align: middle; user-select: none; cursor: pointer;" onclick="calendario('mas')">navigate_next</span><a href="#" class="material-symbols-outlined" style="float: right; text-decoration: none!important; vertical-align: middle; user-select: none;">close</a></h3>
        <div class="pestanas">
            <input type="radio" class="radio-pestanas" name="pestana1" id="pestanas-horas-ida" checked>
            <label for="pestanas-horas-ida" class="etiqueta-pestanas">{{ t['ida']|capitalize }}</label>
            <div class="contenido-pestanas"><table class="horario-linea" id="horario-linea-ida"></table></div>
            <input type="radio" class="radio-pestanas" name="pestana1" id="pestanas-horas-vuelta">
            <label for="pestanas-horas-vuelta" class="etiqueta-pestanas">{{ t['vuelta']|capitalize }}</label>
            <div class="contenido-pestanas"><table class="horario-linea" id="horario-linea-vuelta"></table></div>
        </div>
    </div>
</div>

<div class="flex-parada">
    <div class="flex-dentro flex-linea">
        <div class="pestanas">
            <input type="radio" class="radio-pestanas" name="pestana" id="pestanas-ida" checked onclick="actualizar(0)">
            <label for="pestanas-ida" class="etiqueta-pestanas">{{ t['ida']|capitalize }}</label>
            <div class="contenido-pestanas">
                <div class="diagrama-linea">
                    <div class="diagrama-dentro">
                        <h2><i>{{ line.origen }} - {{ line.destino }}</i></h2>
                        <div style="display: flex; flex-direction: row;" id="ida">
                            <div id="buses-ida"></div>
                            <div><ol class="paradas-linea" style="--color-linea: #{{ line.color }}; margin-left: 3em">
                                {% for parada in paradas.paradas.ida %}
                                    <li class="parada"><span class="nombre_parada">{{ parada.nombre }}</span><p><a href="{{ url_for('parada', id_parada=parada.id, lang=lang) }}">{{ t['enlaces']|capitalize }}:</a> {% for enlace in parada.lineas %}<span class="simbolo_linea" style="background-color: #{{ enlace.color }}">{{ enlace.nombre }}</span>{% endfor %}</p></li>
                                {% endfor %}
                            </ol></div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="radio" class="radio-pestanas" name="pestana" id="pestanas-vuelta" onclick="actualizar(0)">
            <label for="pestanas-vuelta" class="etiqueta-pestanas">{{ t['vuelta']|capitalize }}</label>
            <div class="contenido-pestanas">
                <div class="diagrama-linea">
                    <div class="diagrama-dentro">
                        <h2><i>{{ line.destino }} - {{ line.origen }}</i></h2>
                        <div style="display: flex; flex-direction: row;" id="vuelta">
                            <div id="buses-vuelta"></div>
                            <div><ol class="paradas-linea" style="--color-linea: #{{ line.color }}; margin-left: 3em;">
                                {% for parada in paradas.paradas.vuelta %}
                                    <li class="parada"><span class="nombre_parada">{{ parada.nombre }}</span><p><a href="{{ url_for('parada', id_parada=parada.id, lang=lang) }}">{{ t['enlaces']|capitalize }}:</a> {% for enlace in parada.lineas %}<span class="simbolo_linea" style="background-color: #{{ enlace.color }}">{{ enlace.nombre }}</span>{% endfor %}</p></li>
                                {% endfor %}
                            </ol></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-dentro flex-linea-2">
        <div id="mapa-linea"></div>
        <script src="/api/linea/{{ line.id }}/paradas"></script>
        <script src="/static/geojson/linea-{{ line.id }}.js"></script>
        <div id="leyenda">
            <p><i>{{ t['leyenda']|capitalize }}:</i></p>
            <ul>
                <li><span class="material-symbols-outlined simbolo_bus simbolo_bus_parada" style="vertical-align: middle;">directions_bus</span> → {{ t['en-parada']|capitalize }}</li>
                <li><span class="material-symbols-outlined simbolo_bus simbolo_bus_otro" style="vertical-align: middle">directions_bus</span> → {{ t['otro-estado']|capitalize }}</li>
        
            </ul>
        </div>
    </div>
</div>
<p>{{ t['fuentes']|capitalize }}: <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> ({{ t['fuentes-linea'] }}), <a href="https://nap.mitma.es/Files/Detail/1376" target="_blank" class="source">MITMA</a> ({{ t['fuentes-mitma-linea'] }})</a></p>

<div id="mensaje-error" class="error"><span id="mensaje-error-mensaje">Error</span><div id="borde-abajo" class="bordeerror"></div></div>

<script src="/static/scripts/utils.js"></script>
<script src="/static/scripts/linea.js"></script>
{% endblock content %}
