{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/map.css">
<!-- Posiblemente no sea lo más correcto cargar esto aquí... -->
<!-- leafletjs -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
<!-- leaflet markercluster -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>{% endblock head %}
{% block content %}

{% if request.args.get('lang') == 'es' %}<h1>Mapa de paradas</h1><div id="map">Si no ves el mapa puede ser porque tu navegador bloquea los scripts de JavaScript. Si quieres saber qué JavaScript ejecuta esta página, puedes mirar el código fuente. La funcionalidad principal de la página debería de mantenerse de todas formas.</div>{% elif request.args.get('lang') == 'gal' %}<h1>Mapa das paradas</h1><div id="map">Se non ves o mapa pode ser porque o teu navegador bloquea os scripts de JavaScript. Se queres saber qué JavaScript exectuta esta página, podes mirar o código fonte. A funcionalidade principal da páxina debería de manterse de todas formas.</div>{% endif %}
<script src="static/paradas.geojson.js"></script>
<script src="/static/scripts/mapa.js"></script>
{% endblock content %}