{% extends "disposicion.html" %}
{% block content %}
<h1>{{ parada.id }} - {{ parada.nombre }}</h1>
<div class="linea-parada" id="lineas">
    {% for linea in buses %}
    <div class="linea">
        <h1 id="{{ linea.linea.id }}">Línea <span class="simbolo_linea" style="background-color: #{{ linea.linea.color }}">{{ linea.linea.nombre }}</span></h1>
        {% for bus in linea.buses %}
            <p>Bus {{ bus.bus }}, a {{ bus.distancia }}m, <span class="timepo">{{ bus.tiempo }}</span>.</p>
        {% endfor %}
    </div>
{% endfor %}
</div>
<p id="hora"></p>
<p id="t"></p>
<script>
    const time = new Date();
    times = document.getElementsByClassName("timepo");
    console.log(times);

    for (i=0; i<times.length; i++) {
        if (times[i].innerHTML >= 60) {
            old = parseInt(times[i].innerHTML, 10);
            console.log(old);
            now = new Date();
            console.log(now);
            now.setMinutes(now.getMinutes()+old)
            console.log(now.getHours()+':'+now.getMinutes());
            times[i].innerHTML = now.getHours()+':'+(now.getMinutes()<10?'0':'')+now.getMinutes();
        }
        else {
            times[i].innerHTML += '\''
        }
    }
</script>
{% endblock content %}