{% extends "disposicion.html" %}
{% block content %}
<h1>Paradas</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Líneas</th>
    </tr>
    {% for parada in paradas['paradas'] %}
        <tr>
            <td><a href="{{ url_for('parada', id_parada=parada.id) }}" style="padding: 0px 4px;">{{ parada.id }}</a></td>
            <td><a href="{{ url_for('parada', id_parada=parada.id) }}">{{ parada.nombre }}</a></td>
            <td>
                {% for linea in parada.lineas %}
                    <a href="{{ url_for('linea', id_linea=linea.id) }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{linea.nombre}}</a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}