{% extends "disposicion.html" %}
{% block content %}
<h1>{{ parada.id }} - {{ parada.nombre }}</h1>
<div class="linea-parada">
    {% for linea in buses %}
    <h1 id="{{ linea.linea.id }}">Línea <span class="simbolo_linea" style="background-color: #{{ linea.linea.color }}">{{ linea.linea.nombre }}</span></h1>
    {% for bus in linea.buses %}
        <p>Bus {{ bus.bus }}, a {{ bus.distancia }}m, {{ bus.tiempo }}'.</p>
    {% endfor %}
{% endfor %}
</div>

<p id="todo"></p>
<p id="demo"></p>
<script>
    let texto = '{"resultado":"OK","fecha_peticion":"20220920224215","peticion":"jbuses?parada=119&version=2","tama\u00f1o":671,"buses":{"parada":119,"lineas":[{"linea":2000,"buses":[{"bus":392,"tiempo":"1","distancia":"573","estado":1,"ult_parada":282}]},{"linea":500,"buses":[{"bus":425,"tiempo":"3","distancia":"1281","estado":1,"ult_parada":583}]},{"linea":1400,"buses":[{"bus":412,"tiempo":"8","distancia":"2178","estado":1,"ult_parada":21},{"bus":395,"tiempo":"19","distancia":"4723","estado":1,"ult_parada":506}]},{"linea":1500,"buses":[{"bus":402,"tiempo":"20","distancia":"6446","estado":0,"ult_parada":61},{"bus":409,"tiempo":"51","distancia":"16053","estado":0,"ult_parada":99}]}]},"Origen":"Web_Beta"}'
    // const obj = JSON.parse(texto);
    // document.getElementById("demo").innerHTML = obj;
    const obj = JSON.parse(texto);
    document.getElementById("todo").innerHTML = texto
    //document.getElementById("demo").innerHTML = obj['lineas'][1].id;
    for(i=0; i<obj['buses']['lineas'].length; i++) {
        document.getElementById("demo").innerHTML += ',' + obj['buses']['lineas'][i].linea + ' ' + obj['buses']['lineas'][i].buses[0].bus;
    }
</script>
{% endblock content %}