{% extends "disposicion.html" %}
{% block head %}<link rel="stylesheet" type="text/css" href="/static/css/other.css">{% endblock head %}
{% block content %}
{% if lang == 'en' %}<h1>Stops</h1>{% else %}<h1>Paradas</h1>{% endif %}
{% if lang == 'es' %}<input type="text" id="buscar" onkeyup="buscar()" placeholder="Busca una parada..." style="display: none">{% elif lang == 'gal' %}<input type="text" id="buscar" onkeyup="buscar()" placeholder="Busca unha parada..." style="display: none">{% elif lang == 'en' %}<input type="text" id="buscar" onkeyup="buscar()" placeholder="Search for a stop..." style="display: none">{% endif %}
<script src="/static/scripts/buscar.js"></script>
<table id="paradas">
    <tr>
        {% if lang == 'es' %}
            <th>ID</th>
            <th>Nombre</th>
            <th>Líneas</th>
        {% elif lang == 'gal' %}
            <th>ID</th>
            <th>Nome</th>
            <th>Liñas</th>
        {% elif lang == 'en' %}
            <th>ID</th>
            <th>Name</th>
            <th>Lines</th>
        {% endif %}
    </tr>
    {% for parada in paradas['paradas'] %}
        {% if parada.lineas %}
            <tr>
                <td><a href="{{ url_for('parada', id_parada=parada.id, lang=lang) }}" style="padding: 0px 4px;" class="enlace-tabla">{{ parada.id }}</a></td>
                <td><a href="{{ url_for('parada', id_parada=parada.id, lang=lang) }}" class="enlace-tabla">{{ parada.nombre }}</a></td>
                <td>
                    {% for linea in parada.lineas %}
                        <a href="{{ url_for('linea', id_linea=linea.id, lang=lang) }}" class="simbolo_linea" style="background-color: #{{linea.color}}">{{ linea.nombre }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% if lang == 'es' %}<p>Fuentes de los datos: <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> (paradas)</p>{% elif lang == 'gal' %}<p>Fontes dos datos: <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> (paradas)</p>{% elif lang == 'en' %}<p>Data sources: <a href="https://itranvias.com" target="_blank" class="source">iTranvias</a> (stops)</p>{% endif %}
<script>buscar();</script>
{% endblock content %}
