/* Colores de la página */
:root {
    --bg: #f5f5f6;
    --sh: #d4d4d4;
    --bd: white;
    --accent: #5e31b1; /* Material deep purple 600 */
    --haccent: #280680; /* Material deep purple xxx */
    --grey: #4f4f4f;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --sh: #121212;
        --bd: #121212;
        --accent: #673ab7;
        --haccent: #b39ddb;
        --grey: #eeeeee;
        --table-even: #202020;
    }
    html {
        color: white;
    }
    tr:nth-child(even) { background-color: var(--table-even)!important; }

    td > a {
        color: var(--grey)!important;
    }
    .leaflet-popup-content-wrapper {
        background: var(--table-even)!important;
    }
    #buscar {
        background-color: var(--table-even);
        color: white;
        border: none;
    }
}

/* Mapa */
    .leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
} #map {
    width: 100%;
    height: 785px;
} @media(max-width: 720px) {
    #map {
        height: 75vh;
    }
}
.leaflet-popup-content > a {
    color: black!important;
}
@media (prefers-color-scheme: dark) {
    .leaflet-popup-content > a {
        color: white!important;
    }
}
/* Material icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Mapa de las paradas */
#mapa-parada {
    /* width: 50%; */
    width: 75%;
    margin: 0 auto;
    height: 350px;
    border-radius: 6px;
}
/* Información de las paradas */
/* Diagrama de líneas (parte) */
.flex-dentro, .diagrama-dentro {
    flex-grow: 1;
}
.flex-parada, .diagrama-linea {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.lineas-parada, .info-parada, .diagrama-dentro {
    padding-left: 1em;
}
@media (max-width: 720px) {
    .flex-parada, .diagrama-linea {
        flex-direction: column;
    }
    .lineas-parada {
        text-align: center;
    }
    #mapa-parada {
        width: 95%;
    }
}

/* Base */
html {
    background-color: var(--bg);
}
body {
    margin: 0 auto;
    max-width: 1250px;
    box-shadow: 0 0 10px var(--sh);
    background-color: var(--bd);
    font-family: 'Roboto';
    /* min-height: 100vh; */
}
.parrafo a {
    color: var(--accent);
}
.parrafo {
    text-align: justify;
    padding: 0em 1em;
}

/* Barra de navegación */
header {
    background-color: var(--accent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header > a {
    color: white;
    padding: 12px 0px;
    margin: auto;
    text-align: center;
    flex-grow: 1;
}
header > a:hover {
    background-color: var(--haccent);
    text-decoration: none;
}
header .material-symbols-outlined {
    vertical-align: middle;
}

/* Estilos principales: Texto, Líneas, Enlaces... */
/* Símbolos de las líneas */
.simbolo_linea, .leaflet-popup-content > .simbolo_linea {
    padding: 2px 8px;
    border-radius: 4px;
    color: white!important;
    /* https://codepen.io/waarissyb/pen/YadgKg */
    /*display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle!important;
    border: 0.1875rem solid grey;
    line-height: 1.25;
    font-size: 1.125em;
    text-align: center!important;
    border-radius: 5%;
    color: white!important;*/
}
.simbolo_linea, a {
    text-decoration: none;
}

h1 {
    font-size: 200%;
}
h1,h2 {
    font-weight: 300;
}
p, a, footer {
    color: var(--grey);
}
a:hover {
    text-decoration: underline;
}
.contenido {
    margin: 0em 1em;
}

/* Botón */
.recargar {
    background-color: var(--accent);
    padding: 4px 12px;
    border-radius: 4px;
    transition-duration: 250ms;
    color: white;
    cursor: pointer;
}
.recargar:hover {
    background-color: var(--haccent);
}

/* Tablas */
td > a {
    color: black;
}
td > a:hover {
    text-decoration: underline;
}
table {
    /*min-width: 75%;
    max-width: 75%;*/
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
} @media(width: 720px) {
    table {
        width: 95%;
    }
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px 0px;
}
tr:nth-child(even) { background-color: #F5F5F5; }

/* Búsqueda */
#buscar {
    max-width: 100%;
    width: 65%;
    /*width: 72.4%;*/
    display: block;
    margin: 0 auto 20px auto;
    padding: 6px 10px 6px 20px;
}

/* Pie */
footer {
    width: 85%;
    margin: 10px auto auto auto;
    text-align: center;
    border-top: 1px solid #d4d4d4;
    padding: 10px 0px;
}

/* Mapa de paradas */
/*.linea {
    margin: 2em;
    list-style: none;
    position: relative;
}
.parada {
    padding: 0.25em 0 0.25em 0.5em;
    position: relative;
}
.parada:first-child .nombre_parada,
.parada:last-child .nombre_parada {
    font-weight: 900;
}
.nombre_parada {
    font-weight: 900;
}
.parada:last-child::before {
    display: none;
}
.parada::before {
    content: '';
    height: 100%;
    width: 0.5em;
    left: -1.105em;
    position: absolute;
    margin-top: 0.5em;
    background-color: #6792BC;
}
.parada::after {
    content: '';
    border: 0.125em solid #6792BC;
    border-radius: 50%;
    background-color: #6792BC;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0.375;
    left: -1.5em;
    z-index: 2;
}
.parada:first-child::after,
.parada:last-child::after {
    background-color: #000;
    border-color: #000;
}*/
.paradas-linea {
    list-style: none;
    border-left: 2px solid;
    border-color: var(--color-linea);
    padding-left: 1em;
    margin-left: 4em;
}
.parada::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: var(--color-linea);
    position: absolute;
    border-radius: 50%;
    margin-left: -1.55em;    
}
.parada p {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}
@media (max-width: 720px) {
    .paradas-linea {
        margin-left: 2em;
    }
}
.simbolo_bus {
    color: white;
    background-color: #5e35b1;
    padding: 2px;
    border-radius: 4px;
}
.simbolo_bus_parada {
    animation-name: parada;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
.simbolo_bus_otro {
    animation-name: otro;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
@keyframes parada {
    0%, 100% {background-color: #5e35b1;}
    50% {background-color: orange;}
}
@keyframes otro {
    0%, 100% {background-color: #5e35b1;}
    50% {background-color: red;}
}


/* MEZCLA. REVISAR/ORDENAR EN ALGÚN MOMENTO */
/* Lista de lineas */
/*ul, li {
    list-style: none;
    padding: 0;
}

.contenedor-lineas {
    background: #eaf6ff;
    padding: 2rem;
    border-radius: 15px;
}


.lineas {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}*/

/* Intento de línea de tiempo para las paradas
li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    &:last-child {
        border: 0px;
        padding-bottom: 0;
    }
    &:before{
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid #4e5ed3;
        box-shadow: 3px 3px 0px #bab5f8;
        box-shadow: 3px 3px 0px #bab5f8;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
      }
}
.linea {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .9rem;
}*/

/*p {
    color: #4f4f4f;
    font-family: sans-serif;
    *//*line-height: 1.5;
    margin-top: 0.4rem;*//*
}*/